#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "WSK Sample TCP Echo Server"
#define VER_INTERNALNAME_STR        "Wskudp.sys"
#define VER_ORIGINALFILENAME_STR    "Wskudp.sys"

#include "common.ver"


